/* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */

.button {
    -fx-background-color: black; 
    -fx-text-fill: white; 
    -fx-stroke: blue;
    -fx-stroke-width: 3;
    -fx-fill:black;
}
