/* https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html */

.button {
    -fx-background-color: black; 
    -fx-text-fill: white; 
    -fx-stroke: blue;
    -fx-stroke-width: 3;
    -fx-fill:black;
}
.root {
    -fx-hgap: 5;
    -fx-vgap: 5;
    /* -fx-alignment: center; */
    -fx-position-shape: true;
    -fx-border-insets: 10;
    -fx-padding: 10;
    -fx-min-width: 500;
    -fx-min-height: 500;
}